html, body, div, p, a {
  color: #fff;
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue,Roboto,Ubuntu,Segoe UI,Noto Sans JP,HiraginoGYSans,Hiragino Kaku Gothic ProN,Meiryo,sans-serif;
  line-height: 1.7;
  text-align: center;
  position: relative;
  display: block; }

img {
  width: 100%;
  height: auto;
  display: inline-block; }
