doctype html
html(lang='ja')
    head
        title GYAO! | 国内最大級の公式動画アプリ
        meta(charset=' utf-8')
        meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
        meta(name='format-detection' content='telephone=no')
        meta(
            name='description' 
            content='完全無料で映画やドラマ、アニメ、テレビ番組などが見放題のYahoo! JAPAN公式動画配信アプリ。会員登録も不要でアプリをインストールすれば今すぐ楽しめます。'
            )
        link(rel='icon' href='../../img/favicon.ico')
        link(rel='stylesheet' href='./lp-app.css')
        link(rel='stylesheet' href='../css/common.css')
        script(src='./lp-app.js')
    body
        .wrapper.lp-app
            .main-visual
                a.main-visual-appicon.content-fade-in(href='https://gyao.yahoo.co.jp')
                    img(src='../../img/gyao-app.png' alt='GYAO!アプリ')
                .main-visiual-text
                    p.text-title GYAO! / ギャオ
                    p.text-sentence 国内最大級の公式動画アプリ
                        br
                        | 映画、ドラマ、アニメなど
                        br 
                        | 無料で見放題

            .main-content
                .section.main-content-download
                    .section-item
                        p.text-sentence 登録不要で今すぐ見放題
                            br
                            | ダウンロードはこちらから
                    .section-item.main-content-download-button.content-fade-in
                        a.main-content-download-button-link(href='https://apps.apple.com/jp/app/gyao-%E3%82%AE%E3%83%A3%E3%82%AA/id288091002')
                            img(src='../../img/button-appstore.svg' alt=`AppStoreからダウンロード`)
                        a.main-content-download-button-link(href='https://play.google.com/store/apps/details?id=jp.co.yahoo.gyao.android.app&hl=ja')
                            img(src='../../img/button-playstore.svg' alt='Google Playで手に入れよう')

                .section.main-content-about-gyao
                    .section-item.main-content-about-gyao-image.content-fade-in
                        img(src='../../img/device-gyao-top.png' alt='GYAO!のデバイス画像 - GYAO!TOP')
                    .section-item.main-content-about-gyao-text
                        p.text-title 登録なしで無料で見放題
                        p.text-sentence GYAO!は完全無料で
                            br 
                            | 映画やドラマ、アニメなどが見放題の
                            br 
                            | Yahoo! JAPAN公式動画配信アプリ。
                            br
                            | 会員登録も不要で
                            br
                            | アプリをインストールすれば今すぐ楽しめます。

                .section.main-content-program-introduction
                    .section-item
                        p.text-title アプリで映像体験を
                            br
                            | より楽しく快適に
                    .sectin-item.main-content-program-introduction-images.content-fade-in
                        .main-content-program-introduction-image.thumbnail1
                        .main-content-program-introduction-image.thumbnail2
                        .main-content-program-introduction-image.thumbnail3
                        .main-content-program-introduction-image.thumbnail4
                        .main-content-program-introduction-image.thumbnail5
                        .main-content-program-introduction-image.thumbnail6
                    .section-item
                        p.text-title 全ての映像を無料で楽しめます
                        p.text-sentence 人気のテレビドラマを含め、
                            br
                            | GYAO!で配信している
                            br
                            | 全ての映像を視聴できます

                .section.main-content-app-function-introduction
                    .section-item.main-content-app-function-introduction-image.content-fade-in
                        img(src='../../img/device-gyao-playspeed.png' alt='GYAO!のデバイス画像 - 再生速度変更')
                    .section-item
                        .text-title 画質や再生速度が変更できます
                        .text-sentence 低画質で通信量を抑えたり
                            br
                            | 倍速再生でイッキ見したり
                            br
                            | あなたの好きな再生スタイルを選べます

                .section.main-content-app-function-introduction
                    .section-item.main-content-app-function-introduction-image.content-fade-in
                        img(src='../../img/device-gyao-notice.png' alt='GYAO!のデバイス画像 - 通知')
                    .section-item.main-content-app-function-introduction-text
                        .text-title 作品が更新されたら通知が届きます
                        .text-sentence あなたのお気に入り作品を
                            br
                            | ウォッチリストに登録しておくと
                            br
                            | 次話更新時に通知でお知らせします

                .section.main-content-download
                    .section-item
                        p.text-sentence 登録不要で今すぐ見放題
                            br
                            | ダウンロードはこちらから
                    .section-item.main-content-download-button.content-fade-in
                        a.main-content-download-button-link(href='https://apps.apple.com/jp/app/gyao-%E3%82%AE%E3%83%A3%E3%82%AA/id288091002')
                            img(src='../../img/button-appstore.svg' alt=`AppStoreからダウンロード`)
                        a.main-content-download-button-link(href='https://play.google.com/store/apps/details?id=jp.co.yahoo.gyao.android.app&hl=ja')
                            img(src='../../img/button-playstore.svg' alt='Google Playで手に入れよう')
                            
            footer.section.footer
                a.footer-link(href='https://gyao.yahoo.co.jp')
                    img(src='../../img/gyao-logo.svg' alt='GYAO!')



